<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Nepen</a>
    <div class="d-flex">
      <i class="fa-duotone fa-user"></i>     
      <span>{{user?.username}}</span>
    </div>
  </div>
</nav>

<div class="content" role="main">
  <div class="bg-secondary p-1">
    <div class="d-flex flex-row align-items-center justify-content-center">
      <button class="btn btn-primary">Setar corrente</button>
      <button class="btn btn-primary ms-1">Setar tensão</button>
      <button class="btn btn-primary ms-1">Setar fator de potência</button>
      <button class="btn btn-primary ms-1">Setar fator X</button>
    </div>
  </div>
</div>